// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$border-radius-root: 30px !default;
$material-light: (
  'background': #F1F1FF
);

// .img {
//   border-radius: 30px;
//   background-color: white;
// }

@media only screen and (min-width: 960px) {
  .blog-900 {
    width:960px;
    max-width: 100%;
  }
}

.icon {
  width: 10px;
  height: auto;
}

.circle {
  background-color: white;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  display:inline-block;
}

.btn--outlined {
  border: 3px solid;
}

.full-width-pink {
  background: linear-gradient(263.09deg, #FF65BD 0%, #7B7DF6 100%);
}

.full-width-green {
  background: linear-gradient(83.9deg, #7B7DF6 0%, #3EC1B9 98.75%);
}

.full-width-blue {
  background: linear-gradient(84.28deg, #7B7DF6 33.68%, #7DD5F6 100%);
}

.shadow {
  box-shadow: 0px 0px 70px rgba(46, 49, 174, 0.55) !important;
}

.post-shadow {
  box-shadow: 0px 0px 20px rgba(46, 48, 174, 0.123) !important;
}

.card-shadow {
  box-shadow: 0px 20px 70px rgba(46, 49, 174, 0.05) !important;
}

.startups {
  mix-blend-mode: luminosity;
  display:inline-block;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

// .hover:hover {
//   background: #fd80c74f;
//   border-radius: 8px;
// }

.tag {
  color: white;
  border-radius: 50px;
  width: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.br-15 {
  border-radius: 15px !important;
}

.underline {
  border-bottom: 3px solid currentColor;
}

.clearQuote {
  position: relative;
  &:before {
    content: "“";
    color: #f1f1ff;
    font-family: Times; 
    font-size: 4em;
  }
  &:after {
    content: "”";
    padding-left: 8px;
    color: #f1f1ff;
    position: absolute;
    top: 100%;
    font-family: Times; 
    font-size: 4em;
  }
}

.quote {
  position: relative;
  &:before {
    content: "“";
    color: #FF65BD;
    font-family: Times; 
    font-size: 4em;
  }
  &:after {
    content: "”";
    padding-left: 8px;
    color: #FF65BD;
    position: absolute;
    top: 100%;
    font-family: Times; 
    font-size: 4em;
  }
}

@media only screen and (max-width: 960px) {
  .cookieBanner > .v-snack__wrapper {
    max-width: 100%;
    min-width: auto;
  }
}

@media only screen and (max-width: 960px) {
  .fr-video {
    max-width:100%;

    > iframe {
      max-width:100%;
      height:auto;
    }
  }

  .blog-900 .v-main__wrap p img {
    max-width:100%;
  }
}